html{
    background-color: #222222;
}

h1{
    text-align: center;
    color: #ffffff;
}

footer{
    display: grid;
    place-items: center;
    width: 100%;
    bottom: 0px;
    position: absolute;
    height: 2.5rem
}

a{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff
}

p{
    text-align: center;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-style: normal;
}

input[type=file]{
    color: #ffffff;
}

.search-container{
    display: grid;
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
    height: 200px;
    grid-template-columns: auto auto;
}

.image-container{
    width:20%;
    height: 100%;
    display: block;
}

::placeholder{
    color: #c5c5c5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#page-container{
    width: 100%;
    height: 100%;
    background-color: #222222;
}

#main-header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-style: normal;
}

.search-bar[type=text]{
    background-color: #222222;
    width: 100%;
    padding: 12px 20px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 100px;
    border-color: #ffffff;
    border-style: ridge;
    border-width: 2px;
    color: #ffffff
}